{% extends '_base.html' %}
{% load static %}

{% block title %}Home Security{% endblock title %}

{% block content %}

<div style="margin-top: 10%;">
    <div class="jumbotron">
        <div>
            <h3>Camera 1</h3>
            <div class="col-md-5 p-1 m-1">
                <img class="" src="{% url 'live' %}"></img>
            </div>
        </div>
        <div>
            <h3>Camera 2</h3>
            <!-- <div class="col-md-5 p-1 m-1">
                <img class="" src="{% url 'live' %}"></img>
            </div> -->
        </div>
    </div>
    
</div>

{% endblock content %}
