{% extends '_base.html' %}
{% load static %}

{% block title %}Home Security{% endblock title %}

{% block content %}

<div style="margin-top: 10%;">
    <!-- Table: Show Records -->
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Person Name</th>
                    <th scope="col">Date & Time</th>
                    <th scope="col">Pictures</th>
                </tr>
            </thead>
            {% for obj in record_list %}
                <tbody>
                    <tr>
                        {% if obj.image %}
                            <th scope="row"> {{ obj.id }} </th>
                            <td>{{ obj.person }} </td>
                            <td>{{ obj.record_datetime }}</td>
                            <td> <img src="{{ obj.image.url }}" style="width:40px; height:40px;" /> </td>
                        {% else %}
                            <th scope="row"> {{ obj.id }} </th>
                            <td>{{ obj.person }} </td>
                            <td>{{ obj.record_datetime }}</td>
                            <td> <img src="{% static 'images/noimage.jpg' %}" style="width:40px; height:40px;" /> </td>
                        {% endif %}
                    </tr>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}